/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url(http://fonts.googleapis.com/css?family=Sigmar+One);

body {
  color: #040E4A;
}

 a {
   text-decoration: none;
   color: #076B8A;
   padding: 2px;
 }

 	img {
 		width: 500px;
     padding: 20px;
 		height: auto;
 		margin: auto;
 	}

 	h2 {
 		margin-left: 50px;
     font-size: 30px;
     font-family: 'Sigmar One', cursive;
 	}

 	h3 {
 		margin-left: 75px;
     font-size: 20px;
     font-family: 'Sigmar One', cursive;
 	}

   li {
     color: #04B88B;
   }
.home {
  padding: 5px;
  font-family: 'Sigmar One', cursive;
  margin-left: 75px;
}

.button {
  padding:10px;
}
